@font-face {
  src: url(../fonts/Roboto-Black.ttf);
  font-family: Roboto;
}
@font-face {
  src: url(../fonts/KaushanScript-Regular.ttf);
  font-family: kaushan;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.invalid{
    color: red;
}

.valid{
    color: green;
}

ul {
    display: none;
}

.focus{
    display: block;
}

.userInfo{
    display: none;
}

.password{
    top: 50%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -4px;
  right: -3px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-contain {
  position: relative; 
}

.check-desc {
  position: absolute;
  top: -2px;
  margin-left: 9px;
}

.w {
  display: inline-block;
  padding: 0 5px;
  border: white solid 1px;
  margin-right: 5px;
  border-radius: 4px;
  font-family: roboto;
  font-size: 14px;
  background-color: antiquewhite;
}

.row {
  text-align: center;
}

.infoWords {
  display: block !important;
}

.infoWords span {
  font-weight: 700;
}

/* .time img {
  max-width: 300px;
  float: left;
  margin-top: 50px;
}

.time {
  display: grid;
}

.progress {
  max-width: 30%;
} */

.GaugeMeter{
  Position:        Relative;
  Text-Align:      Center;
  Overflow:        Hidden;
  Cursor:          Default;
  margin: 0 auto;
}

.GaugeMeter span {
  font-size: 38px !important;
  font-family: kaushan !important;
}

.GaugeMeter SPAN,
.GaugeMeter B{
  Margin:          0 23%;
  Width:           54%;
  Position:        Absolute;
  Text-align:      Center;
  Display:         Inline-Block;
  Color:           RGBa(0,0,0,.8);
  Font-Weight:     100;
  Font-Family:     "Open Sans", Arial;
  Overflow:        Hidden;
  White-Space:     NoWrap;
  Text-Overflow:   Ellipsis;
}
.GaugeMeter[data-style="Semi"] B{
  Margin:          0 10%;
  Width:           80%;
}

.GaugeMeter S,
.GaugeMeter U{
  Text-Decoration: None;
  Font-Size:       .5em;
  Opacity:         .5;
}

.GaugeMeter B{
  Color:           Black;
  Font-Weight:     300;
  Font-Size:       .5em;
  Opacity:         .8;
}

.bruteResult {
  margin: 0 auto;
}

.bruteRow {
  margin-top: 20px;
}

.resultHead {
  font-family: Roboto;
}

.bruteResult p:nth-child(2) {
  font-family: kaushan;
  font-weight: 700;
}

#eye {
  color: black;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.result-head {
  font-family: kaushan;
  display: none;
}

.key p {
  border-radius: 50px 0 0 50px;
}

.value p {
  border-radius: 0 50px 50px 0;
}

.key {
  padding-right: 0;
  font-family: kaushan;
  font-weight: 700;
}

.value {
  padding-left: 0;
  font-weight: 500;
}

.table th, .table td {
  padding: 0 !important;
}

#data-info {
  position: relative;
}

.table {
  position: absolute;
  bottom: -10px;
}

.fullname {
  background-color: rgb(255, 99, 132);
}

.petname {
  background-color: rgb(102, 190, 12);
}

.lovename {
  background-color: rgb(10, 155, 12);
}

.sport {
  background-color: rgb(105, 150, 152);
}

.team {
  background-color: rgb(103, 100, 130);
}

.birthday {
  background-color: rgb(120, 130, 142);
}

.row canvas {
  margin-bottom: 10px;
}

nav a {
  font-family: 'Satisfy', cursive;
  color: #007cc2;
}