{% extends "layout.html" %}

{% block main %}
    <form method="POST" action="/">
        <div class="my-1">
            <div class="input-group">
                <input type="password" name="password" class="form-control" id="password" placeholder="password" maxlength="20" required>
                <div class="input-group-prepend">
                    <div class="input-group-text"><a id="eye"><i class="far fa-eye"></i></a></div>
                </div>
            </div>
        </div>
        <!-- <div class="form-group password my-1">
            <input class="form-control" id="password" type="password" name="password" placeholder="Password" />
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="form-group">
            <ul class="focus">
                <li class="invalid">Must be at least 8 characters long.</li>
                <li class="invalid">Must contain a lowercase letter.</li>
                <li class="invalid">Must contain an uppercase letter.</li>
                <li class="invalid">Must contain a number.</li>
                <li class="invalid">special character.</li>
            </ul>
        </div> -->

        <div class="custom-control switches-container">
            <div class="switch-contain">
                <label class="switch">
                    <input type="checkbox" name="dictionary">
                    <span class="slider round"></span>
                </label>
                <label class="check-desc">English Dictionary</label>
            </div>

            <div class="switch-contain">
                <label class="switch">
                    <input type="checkbox" name="common">
                    <span class="slider round"></span>
                </label>
                <label class="check-desc">Common Password</label>
            </div>

            <div class="switch-contain">
                <label class="switch">
                    <input type="checkbox" name="info">
                    <span class="slider round"></span>
                </label>
                <label class="check-desc">Personal Info</label>
            </div>
        </div>
        <div class="userInfo">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="text" name="fullname" placeholder="Full Name"/>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="petname" placeholder="Pet Name" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="text" name="birthday" placeholder="Birthday" />
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="lovename" placeholder="Love Name" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="text" name="sport" placeholder="Favorite Sport" />
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="team" placeholder="Favorite Team" />
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-info btn-md" type="submit">Test</button>
    </form>
    <div class="container">
            <div id="time" class="col-sm time">
                <!-- <img src="../static/images/bruteforce.png" alt="hacker">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div> -->
                <div class="container">
                    <div class="row bruteRow">
                        <div class="bruteResult">
                            <p class="resultHead">Years</p>
                            <p></p>
                        </div>
                        <div class="bruteResult">
                            <p class="resultHead">Months</p>
                            <p></p>
                        </div>
                        <div class="bruteResult">
                            <p class="resultHead">Weeks</p>
                            <p></p>
                        </div>
                        <div class="bruteResult">
                            <p class="resultHead">Days</p>
                            <p></p>
                        </div>
                        <div class="bruteResult">
                            <p class="resultHead">Hours</p>
                            <p></p>
                        </div>
                        <div class="bruteResult">
                            <p class="resultHead">Mintues</p>
                            <p></p>
                        </div>
                        <div class="bruteResult">
                            <p class="resultHead">Seconds</p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="GaugeMeter" id="GaugeMeter_1"></div>
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="dictionary" class="col-sm">
                <h3 class="result-head">English Dictionary</h3>
                <canvas id="dict-chart"></canvas>
            </div>
            <div id="common" class="col-sm">
                <h3 class="result-head">Common Password</h3>
                <canvas id="common-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="contianer">
        <div class="row">
            <div id="info" class="col-sm">
                <h3 class="result-head">Personal Info</h3>
                <canvas id="info-chart"></canvas>
            </div>
            <div id="data-info" class="col-sm">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td class="key">
                                <p class="fullname">Full Name</p>
                            </td>
                            <td class="value">
                                <p class="fullname"></p>
                            </td>
                        </tr>

                        <tr>
                            <td class="key">
                                <p class="petname">Pet Name</p>
                            </td>
                            <td class="value">
                                <p class="petname"></p>
                            </td>
                        </tr>

                        <tr>
                            <td class="key">
                                <p class="lovename">Love Name</p>
                            </td>
                            <td class="value">
                                <p class="lovename"></p>
                            </td>
                        </tr>

                        <tr>
                            <td class="key">
                                <p class="sport">Favorite Sport</p>
                            </td>
                            <td class="value">
                                <p class="sport"></p>
                            </td>
                        </tr>

                        <tr>
                            <td class="key">
                                <p class="team">Favorite Team</p>
                            </td>
                            <td class="value">
                                <p class="team"></p>
                            </td>
                        </tr>

                        <tr>
                            <td class="key">
                                <p class="birthday">Birthday</p>
                            </td>
                            <td class="value">
                                <p class="birthday"></p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script src="../static/scripts/script.js"></script>
    <script>
        
        $("form").on("submit", function(){
            // Stop form from submitting normally
            event.preventDefault();

            // Get some values from elements on the page:
            var $form = $(this),
                term = $form.find("input[name='password']").val(),

                url = $form.attr("action");

            // Send the data using post
            var posting = $.post(url, $(this).serialize());

            posting.done(function(data){

                let u = "";

                let dictArray = [];
                let comArray = [];

                // empty and reset value in the began of request
                $("#dictionary p").remove();
                $("#common p").remove();
                $(".bruteResult p:nth-child(2)").empty();
                $(".time").css("display", "none");

                $("#data-info").hide();
                $(".value p").empty();

                $("#dictionary").empty();
                $("#common").empty();
                $("#info").empty();

                $(".result-head").css("display", "none");
                $("#dictionary").append('<h3 class="result-head">English Dictionary</h3>');
                $("#dictionary").append('<canvas id="dict-chart"></canvas>');

                $("#common").append('<h3 class="result-head">Common Passwords</h3>');
                $("#common").append('<canvas id="common-chart"></canvas>');

                $("#info").append('<h3 class="result-head">Personal Info</h3>');
                $("#info").append('<canvas id="info-chart"></canvas>');

                $("#dictionary").hide();
                $("#common").hide();
                $("#info").hide();

                console.log(data);
                // append the result of dictionary to dictArry
                if (Object.keys(data[1]).length) {
                    data[1].matches.forEach(e => {
                        dictArray.push(e);
                    });
                }

                //console.log("m" + m.length);
                // append the result of common password to comArray
                if (Object.keys(data[2]).length) {
                    data[2].matches.forEach(e => {
                        comArray.push(e);
                    });   
                }

                // array to arrange the bruteforce time
                let timeArr = [];

                // append values to timeArr
                for (var key in data[0]) {
                    if (data[0].hasOwnProperty(key)) {
                        
                        if (key == 'years') {
                            timeArr[0] = data[0][key];
                        }
                        else if (key == 'months') {
                            timeArr[1] = data[0][key];
                        }
                        else if (key == 'weeks') {
                            timeArr[2] = data[0][key];
                        }
                        else if (key == 'days') {
                            timeArr[3] = data[0][key];
                        }
                        else if (key == 'hours') {
                            timeArr[4] = data[0][key];
                        }
                        else if (key == 'mintues') {
                            timeArr[5] = data[0][key];
                        }
                        else {
                            timeArr[6] = data[0][key];
                        }

                        timeArr.push(data[0][key]);
                        // console.log(key + '->' + data[0][key]);
                    }
                }
                // show time block
                $(".time").css("display", "block");

                // draw meter
                $(".GaugeMeter").gaugeMeter({
                    percent: 80,
                    text: "Bruteforce Time",
                    text_size: 0.22,
                    //append : "Years",
                    prepend: null,
                    size: "500",
                    width: 15,
                    style: "Arch",
                    theme: "Red-Gold-Green",
                    animate_gauge_colors: false,
                    animate_text_colors: false
                });

                // append timeArr values to DOM
                for (let i = 0; i < $(".bruteResult p:nth-child(2)").length; i++) {
                    // console.log(timeArr[i]);
                    $(".bruteResult p:nth-child(2)")[i].append(timeArr[i]);
                }

                // if dictionary switch checked show the english dictionary result
                if ($(".switch input[name=dictionary]").is(":checked")) {
                    var ctx = document.getElementById('dict-chart').getContext('2d');
                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['percentage', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [Math.round(data[1].percentage), Math.round(100 - data[1].percentage)]
                            }]
                        }
                    });
                    $("#dictionary .result-head").css("display", "block");

                    for (let i = 0; i < dictArray.length; i++) {
                        $("#dictionary").append("<p class='w'>"+ dictArray[i] +"</p>")
                    }

                    $("#dictionary").show();
                }
                
                // if common passwords switch checked show the result
                if ($(".switch input[name=common]").is(":checked")) {
                    var ctx1 = document.getElementById('common-chart').getContext('2d');
                    var chart = new Chart(ctx1, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['percentage', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [Math.round(data[2].percentage), Math.round(100 - data[2].percentage)]
                            }]
                        }
                    });

                    $("#common .result-head").css("display", "block");

                    for (let i = 0; i < comArray.length; i++) {
                        $("#common").append("<p class='w'>" + comArray[i] + "</p>")
                    }

                    $("#common").show();
                }

                let passlen = $("#password").val().length;
                let pass = $("#password").val();

                if (Object.keys(data[3]).length) {

                    fnamePerc = data[3].fullname.length / passlen * 100;
                    pnamePerc = data[3].petname.length / passlen * 100;
                    sportPerc = data[3].sport.length / passlen * 100;
                    teamPerc = data[3].team.length / passlen * 100;
                    birthdayPerc = data[3].birthday.length / passlen * 100;
                    lnamePerc = data[3].lovename.length / passlen * 100;

                    var ctx2 = document.getElementById('info-chart').getContext('2d');
                    var chart = new Chart(ctx2, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['Full Name', 'Pet Name', 'Love Name', 'Favorite Sport', 'Favorite Team', 'Birthday', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(102, 190, 12)', 'rgb(10, 155, 12)', 'rgb(105, 150, 152)', 'rgb(103, 100, 130)', 'rgb(120, 130, 142)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [ Math.round(fnamePerc), 
                                Math.round(pnamePerc),
                                Math.round(lnamePerc),
                                Math.round(sportPerc),
                                Math.round(teamPerc),
                                Math.round(birthdayPerc),
                                Math.round(100 - (fnamePerc + pnamePerc + lnamePerc + sportPerc + teamPerc + sportPerc))
                            ]
                            }]
                        }
                    });

                    $("#info .result-head").css("display", "block");

                    $(".value .fullname").append(data[3].fullname.length > 0 ? data[3].fullname : "NULL");
                    $(".value .petname").append(data[3].petname.length > 0 ? data[3].petname : "NULL");
                    $(".value .lovename").append(data[3].lovename.length > 0 ? data[3].lovename : "NULL");
                    $(".value .sport").append(data[3].sport.length > 0 ? data[3].sport : "NULL");
                    $(".value .team").append(data[3].team.length > 0 ? data[3].team : "NULL");
                    $(".value .birthday").append(data[3].birthday.length > 0 ? data[3].birthday : "NULL");


                    $("#info").show();
                    $("#data-info").show();  
                }

                
            });
        });
        
    </script>
{% endblock %}