{% extends "layout.html" %}

{% block main %}
    <form method="POST" action="/">
        <div class="form-group password">
            <input class="form-control" id="password" type="password" name="password" placeholder="Password" />
        </div>
        <div class="form-group">
            <ul class="focus">
                <li class="invalid">Must be at least 8 characters long.</li>
                <li class="invalid">Must contain a lowercase letter.</li>
                <li class="invalid">Must contain an uppercase letter.</li>
                <li class="invalid">Must contain a number.</li>
                <li class="invalid">special character.</li>
            </ul>
        </div>

        <div class="custom-control switches-container">
            <div class="switch-contain">
                <label class="switch">
                    <input type="checkbox" name="dictionary">
                    <span class="slider round"></span>
                </label>
                <label class="check-desc">English Dictionary</label>
            </div>

            <div class="switch-contain">
                <label class="switch">
                    <input type="checkbox" name="common">
                    <span class="slider round"></span>
                </label>
                <label class="check-desc">Common Password</label>
            </div>

            <div class="switch-contain">
                <label class="switch">
                    <input type="checkbox" name="info">
                    <span class="slider round"></span>
                </label>
                <label class="check-desc">Personal Info</label>
            </div>
        </div>
        <div class="userInfo">
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="text" name="fullname" placeholder="Full Name"/>
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="petname" placeholder="Pet Name" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="text" name="birthday" placeholder="Birthday" />
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="lovename" placeholder="Love Name" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <input class="form-control" type="text" name="sport" placeholder="Favorite Sport" />
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" name="team" placeholder="Favorite Team" />
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-info btn-md" type="submit">Test</button>
    </form>
    <div id="time" class="col-sm"></div>
    <div class="container">
        <div class="row">
            <div id="dictionary" class="col-sm">
                <canvas id="dict-chart"></canvas>
            </div>
            <div id="common" class="col-sm">
                <canvas id="common-chart"></canvas>
            </div>
        </div>
    </div>
    <div class="contianer">
        <div class="row">
            <div id="info" class="col-sm">
                <canvas id="info-chart"></canvas>
            </div>
            <div id="data-info" class="col-sm"></div>
        </div>
    </div>
    <script src="../static/scripts/script.js"></script>
    <script>
        
        $("form").on("submit", function(){
            // Stop form from submitting normally
            event.preventDefault();

            // Get some values from elements on the page:
            var $form = $(this),
                term = $form.find("input[name='password']").val(),

                url = $form.attr("action");

            // Send the data using post
            var posting = $.post(url, $(this).serialize());

            posting.done(function(data){
                let m = "";
                let c = "";
                let u = "";
                let dictArray = [];
                let comArray = [];

                $("#dictionary p").remove();
                $("#common p").remove();
                $("#data-info").empty();

                console.log(data);
                console.log(Object.keys(data[1]).length)
                if (Object.keys(data[1]).length) {
                    data[1].matches.forEach(e => {
                        m += ", " + e + " ";
                        dictArray.push(e);
                    });
                }

                if (Object.keys(data[2]).length) {
                    data[2].matches.forEach(e => {
                        c += ", " + e + " ";
                        comArray.push(e);
                    });   
                }
                console.log(c.length)
                $("#time").empty().append(
                    data[0].years +" Year " + data[0].months + " Months "+ data[0].weeks + " Weeks " + data[0].days + " Days " + data[0].hours + " Hours " + data[0].mintues + " Mintues " + data[0].seconds + " Seconds ");
            
                if (m != "") {
                    var ctx = document.getElementById('dict-chart').getContext('2d');
                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['percentage', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [data[1].percentage, 100 - data[1].percentage]
                            }]
                        }
                    });
                    for (let i = 0; i < dictArray.length; i++) {
                        $("#dictionary").append("<p>"+ dictArray[i] +"</p>")
                    }
                }else {
                    var ctx = document.getElementById('dict-chart').getContext('2d');
                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['percentage', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [0, 100]
                            }]
                        }
                    });
                }
                
                if (c != "") {
                    var ctx1 = document.getElementById('common-chart').getContext('2d');
                    var chart = new Chart(ctx1, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['percentage', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [data[2].percentage, 100 - data[2].percentage]
                            }]
                        }
                    });
                    for (let i = 0; i < comArray.length; i++) {
                        $("#common").append("<p>" + comArray[i] + "</p>")
                    }
                }else {
                    var ctx1 = document.getElementById('common-chart').getContext('2d');
                    var chart = new Chart(ctx1, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['percentage', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [0, 100]
                            }]
                        }
                    });
                }

                let passlen = $("#password").val().length;
                let pass = $("#password").val();
                console.log("fullname= " + data[3].fullname.length);

                if (Object.keys(data[3]).length) {
                    var ctx2 = document.getElementById('info-chart').getContext('2d');
                    var chart = new Chart(ctx2, {
                        // The type of chart we want to create
                        type: 'pie',

                        // The data for our dataset
                        data: {
                            labels: ['Full Name', 'Pet Name', 'Love Name', 'Favorite Sport', 'Favorite Team', 'Birthday', 'total'],
                            datasets: [{
                                label: 'My First dataset',
                                backgroundColor: ['rgb(255, 99, 132)', 'rgb(102, 190, 12)', 'rgb(10, 155, 12)', 'rgb(105, 150, 152)', 'rgb(103, 100, 130)', 'rgb(10, 100, 132)'],
                                borderColor: 'rgb(10, 100, 132)',
                                data: [data[3].fullname.length / passlen * 100, 
                                data[3].petname.length / passlen * 100,
                                data[3].lovename.length / passlen * 100,
                                data[3].sport.length / passlen  * 100,
                                data[3].team.length / passlen * 100,
                                data[3].birthday.length / passlen * 100,
                                data[3].fullname.length + data[3].petname.length + data[3].lovename.length + data[3].sport.length + data[3].team.length + data[3].birthday.length - 100
                            ]
                            }]
                        }
                    });
                    $("#data-info").append(
                        "<p class='infoWords'> <span> Full Name </span>" + data[3].fullname + "</p>" +
                        "<p class='infoWords'> <span> Pet Name </span>" + data[3].petname + "</p>" +
                        "<p class='infoWords'> <span> Love Name </span>" + data[3].lovename + "</p>" +
                        "<p class='infoWords'> <span> Favortie Sport </span>" + data[3].sport + "</p>" +
                        "<p class='infoWords'> <span> Favorite Team </span>" + data[3].team + "</p>" +
                        "<p class='infoWords'> <span> Birthday </span>" + data[3].birthday + "</p>"
                    )
                }

                
            });
        });
        
    </script>
{% endblock %}